find  {{ DATA_DUMP_FOLDER }}/{{ default_datasource }}/csv_bff -type d -exec chmod 755 {} \;
find  {{ DATA_DUMP_FOLDER }}/{{ default_datasource }}/csv_bff -type f -exec chmod 644 {} \;
chown -R nginx:nginx {{ DATA_DUMP_FOLDER }}/{{ default_datasource }}/csv_bff
chcon -Rt httpd_sys_content_t {{ DATA_DUMP_FOLDER }}/{{ default_datasource }}/csv_bff